.textContainerTitle {
  background-color: #2b262f;
  border-radius: 4px;
  color: #ffffff;
}
.textContainerDescription {
  background-color: white;
  border-radius: 4px;
  text-align: left;
}
.customizedBtn{
  background-color: #2b262f !important;
}