.textContainerTitle {
  background-color: #8E8D8A;
  border-radius: 4px;
  color: #ffffff;
}
.textContainerDescription {
  background-color: white;
  border-radius: 4px;
  text-align: left;
}
.customizedBtn{
  background-color: #E98074 !important;
  border-color: #E85A4F !important;
  color: #ffffff;
}