.textContainerTitle {
  background-color: #8E8D8A;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
}
.textContainerDescription {
  background-color: white;
  border-radius: 4px;
  text-align: left;
  min-height: 150px;
  padding: 10px;
}
.customizedBtn{
  background-color: #E98074 !important;
  border-color: #E85A4F !important;
  color: #ffffff;
  margin-left:1%;
}