.wrapper{
  height: 100%;
  width:100%;
}
.titleContainer{
  border-radius: 4px;
}
.imageContainer{
  width: 350px;
  height: 150px;
  object-fit: contain;
}
.containerWrap{
  padding: 1%;
  background-color: #EAE7DC;
}
.center{
  align-self: center;
}
.flexEnd{
  text-align: end;
}
.noPaddingRight{
  padding-right:0 !important;
}
.initial{
  text-align: initial;
}
.banner{
  height: 50px;
  background-color: #8E8D8A;
  border-bottom: 2px solid #E98074;
}
.titleColor{
  color: #E98074;
}