.titleContainer{
  border-radius: 4px;
}
.imageContainer{
  text-align: center;
}
.containerWrap{
  padding: 1%;
  text-align: center;
  background-color: #EAE7DC;
}
.center{
  align-self: center;
}
.flexEnd{
  text-align: end;
  padding-right: 2% !important;
}
.noPaddingRight{
  padding-right:0 !important;
}
.initial{
  text-align: initial;
}
.banner{
  height: 50px;
  background-color: #8E8D8A;
  border-bottom: 2px solid #E98074;
}
.titleColor{
  color: #E98074;
}